
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 41% 97%;
    --foreground: 222.2 84% 4.9%;

    --primary: 145 55% 22%;   /* dark green */
    --primary-foreground: 145 60% 90%;
    --accent: 48 95% 54%;     /* gold */
    --accent-foreground: 145 60% 22%;

    --radius: 0.5rem;
  }

  html, body {
    
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
    background-color: #f9fafb;
  }
  #lovable-badge{display:none!important}
}
